#java specific
*.class

# old script stubs
backup.py
*/build.number

archive.xml
binaryjar.xml
build.number
build.properties
clean.xml
include-list.xml
includeList.xml
jar.xml
patchbdk.xml

target/
log/

# thanks to https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse